<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Kieferware Consulting is a freelance technology consultancy providing software and
          firmware development services and embedded computer systems design and engineering expertise.
          We focus on FPGA development, embedded Linux, and microcontroller for many applications.
        </p>
      </div>
      <div class="col-lg-4">
        <p>If you're looking for a consultant who can help you to design, develop, and deliver
          even the most complicated video and image processing, computer vision, thermal imaging,
          or motion control systems, contact below.
        </p>
      </div>
    </div>
  </div>
</section>
